:root {
  --blue: #265578;
  --light-blue: #f4faff;
  --white: #fffafa;
  --gray: #d3d3d3;
}

.hero {
  position: relative;
  max-width: 1035px;
  margin: 0 auto;
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--light-blue);
  overflow: hidden;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 24px 40px;
  background-color: var(--light-blue);
  position: relative;
}

.start-button {
  position: relative;
  z-index: 1;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
}

.start-button > span {
  margin-right: 8px;
}

.start-button:hover > .arrow {
  width: 56px;
  transition: ease 300ms;
}

.arrow {
  width: 0;
  transition: ease 400ms;
}

.hero-background {
  position: absolute;
  font-size: 40px;
  color: var(--white);
  white-space: nowrap;
  font-weight: 900;
  transform: rotate(45deg);
  cursor: default;
}

.shadow {
  margin: 0 auto;
  width: 900px;
  height: 64px;
  background: rgba(49, 140, 191, 0.5);
  filter: blur(64px);
  z-index: -2;
  position: relative;
  transform: translateY(-64px);
}

.quote {
  text-align: center;
  font-family: "Quando", sans-serif;
  font-size: 64px;
  line-height: 72px;
  transform: translateY(-24px);
  color: var(--white);
  cursor: default;
}
