.users-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 8px;
}

.user-card {
  padding: 8px;
  height: 300px;
  width: 180px;
  border: 2px solid #265578;
  text-align: left;
  line-height: 1.2;
  overflow: hidden;
}
