.login-button {
  align-self: flex-end;
  padding: 8px 24px;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-size: 20px;
}

.login-wrapper {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.login-wrapper input {
  border: 1px solid var(--gray);
  padding: 8px 16px;
  text-align: start;
  color: var(--blue);
  box-shadow: 0 8px 16px rgba(111, 123, 230, 0.096);
}
