.blue-container {
  position: relative;
  max-width: 1035px;
  margin: 0 auto;
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--light-blue);
  gap: 40px;
}
