:root {
  --blue: #265578;
  --light-blue: #f4faff;
  --white: #fffafa;
  --gray: #d3d3d3;
}

header {
  max-width: 1035px;
  min-height: 105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--blue);
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
}

.menu-links {
  list-style: none;
  display: flex;
}

.menu-item {
  background-color: transparent;
  border: none;
  padding: 8px 48px;
  font-size: 20px;
  color: var(--blue);
}

.register {
  background-color: var(--blue);
  color: var(--white);
}
