:root {
  --blue: #265578;
  --light-blue: #f4faff;
  --white: #fffafa;
  --gray: #d3d3d3;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.column input,
.column textarea,
.column select {
  border: 1px solid var(--gray);
  padding: 8px 16px;
  text-align: start;
  color: var(--blue);
  box-shadow: 0 8px 16px rgba(111, 123, 230, 0.096);
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns-wrapper {
  display: flex;
  gap: 32px;
}

.send-button {
  align-self: flex-end;
  padding: 8px 24px;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-size: 20px;
}

.modules {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
  text-indent: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid var(--gray);
  padding: 8px 16px;
  text-align: start;
  color: var(--blue);
  box-shadow: 0 8px 16px rgba(111, 123, 230, 0.096);
}
