* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --blue: #265578;
  --light-blue: #f4faff;
  --white: #fffafa;
  --gray: #d3d3d3;
}

body {
  background: var(--white);
  color: var(--blue);
}

body,
input,
button,
textarea,
select {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
