.profile {
  height: 120px;
  width: 100%;
  margin: 0 auto;
  font-size: 80px;
}

.profile-wrapper {
  display: flex;
  gap: 32px;
  padding: 16px;
}

.technology > * {
  border: 1px solid var(--gray);
  padding: 8px 16px;
  text-align: start;
  color: var(--blue);
  box-shadow: 0 8px 16px rgba(111, 123, 230, 0.096);
}

.technology {
  white-space: nowrap;
}

.delete-button {
  margin-left: 8px;
  margin-top: 8px;
  color: red;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.1;
  padding: 2px;
  font-weight: bold;
}
